.cards-style{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    font-weight: 500;
}

@media only screen and (max-width: 950px){
	.cards-style{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        font-weight: 500;
    }
}